{{>header}}
		<form class="ui form">
  <div class="field">
    <label>Name</label>
    <input type="text" name="Name" placeholder=" Name">
  </div>
  <div class="field">
    <label></label>
    <input type="text" name="Domain" placeholder="Domain">
  </div>
  <div class="field">
    <label>Aliases</label>
    <input type="text" name="Alaises" placeholder="Alaises">
  </div>
  
  <button class="positive ui button" type="submit">Validate</button>
  <button class="ui button" type="reset">Cancel</button>
</form>
{{>footer}}